.c-sec {
  @include displayFlex(center, center);
  flex-direction: column;
  width: 100%;
  transform: translateY(86px);
  overflow-x: hidden;
  margin-bottom: 64px;
  
  .c-art-home {

    @media (min-width: 686px) {
      width: 686px;
    }

    @media (min-width: 808px) {
      width: 760px;
    }

    .c-piece-art-txt {
      margin-top: 72px;
    }

    .h3-txt-art-title {
      @include font(6.2vw, 800, 1.6, 02);
      display: inline-block;
      color: $color-black-01;
      padding: 4px 8px 4px 8px;
      margin: 0 0 8px 0;
      box-shadow: 9px 2px 16px rgba($color-black-10, .4);
      background: linear-gradient(45deg, rgba($color-blue-04, .3), rgba($color-green-04, .3));
      opacity: 0;

      @media (min-width: 512px) {
        font-size: 5vw;
      }

      @media (min-width: 686px) {
        font-size: 2.1rem;
      }

    }

    .p-txt-art-piece {
      @include font(5.04vw, 500, 1.7, 02);
      margin: 8px 8px 0 16px;
      opacity: 0;

      @media (min-width: 686px) {
        font-size: 1.4rem;
      }

    }

  }

  .c-art-img {
    @include displayFlex(center, center);
    width: 100%;
    background: $color-black-13;
    padding: 32px;
    margin: 64px 0 0 0;
    box-shadow: 9px 2px 16px $color-black-11, inset 9px 2px 16px #fff;
    opacity: 0;

    @media (min-width: 686px) {
      border-radius: 64px;
      border: 1px solid rgba($color-black-11, .2);
    } 

    .svg-art-img {
      width: 64vw;
      
      @media (min-width: 686px) {
        width: 312px;
      }

    }

  }

}



.c-sec-head {
  width: 100%;
  background: $color-black-12;
  @include displayFlex(center);
  flex-direction: row;
  overflow: hidden;
}

.c-sec-head-title {
  @include displayFlex(space-between, center);
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;

  @media (min-width: 686px) {
    width: 686px;
  }

  @media (min-width: 808px) {
    width: 760px;
  }

  .c-img-logo-sec {
    @include displayFlex(center, center);
    background: $color-black-04;
    padding: 16px;
    height: 80px;
    
    @media (min-width: 686px) {
      height: 112px;
    }

    .svg-logo-sec {
      width: 16vw;

      @media (min-width: 686px) {
        width: 88px;
      }
    }

  }

  
  .h2-sec-head-title {
    @include displayFlex(flex-start, center);
    // display: block;
    @include font(9.2vw, 800, 1.2, 02);
    @include gradientBorder(2px);
    border-left: none;
    border-right: none;
    color: $color-black-04;
    text-shadow: 2px 2px 4px rgba(#000, .3);
    width: 100%;
    height: 80px;
    padding: 19px 0 19px 8px;
    margin-left: 8px;

    @media (min-width: 686px) {
      font-size: 64px;
      height: 112px;
    }
  }

}


.c-sec-head-content {
  @include displayFlex(center, center);
  width: 100%;
  flex-direction: row;
  // border: 1px solid #161616;
  // border-image-source: linear-gradient(45deg, $color-blue-02, $color-green-02);
  // border-image-slice: 1;


  @media (min-width: 686px) {
    width: 686px;
  }

  @media (min-width: 808px) {
    width: 760px;
  }

  .c-h2-txt-sec {
    @include font(6.5vw, 900, 1.3, 01);
    text-align: right;
    padding: 16px;
    
    @media (min-width: 686px) {
      font-size: 2.5rem;
      padding: 64px 16px 16px 16px;
    }

    @media (min-width: 808px) {
      font-size: 3rem;
    }

  }

  .c-sec-head-content-img {
    @include displayFlex(center, center);
    width: 100%;
    height: 100%;
    padding: 8px;
    background: $color-black-06;
    box-shadow: -9px 0 16px rgba($color-black-10, .6);

    @media (min-width: 686px) {
      
    }
    
    .c-sec-head-img {
      @include displayFlex(center, center);
      width: 37vw;
      padding: 4px;
      opacity: 0;

      @media (min-width: 686px) {
        width: 100%;
      }

      .svg-sec-head {
        width: 38vw;
        @media (min-width: 686px) {
          width: 216px;
        }
      }
    }

  }
  
  @include gradientBorder(2px);
  border-top: none;
  border-left: none;
  border-right: none;
}



.mark-txt-color-blue {
  color: $color-blue-01;
}


.mark-txt-color-green {
  color: $color-green-01;
}


.mark-txt-bold {
  font-weight: 800;
}



