.c-btn-menu {
  @include transitionMix(11, 0.6s);
  position: fixed;
  right: 0px;
  bottom: 24px;
  z-index: 102;
  padding: 8px 40px 8px 8px;
  background: darken($color-purple-01, 24);
  cursor: pointer;
  border-left: solid 3px $color-purple-04;
  border-top: solid 3px $color-purple-04;
  border-bottom: solid 3px $color-purple-01;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
  opacity: 0;
  animation: appearByRight .6s cubic-bezier($cb-01) .4s forwards;
  
  &.opened {
    bottom: 112px;
    border-left: solid 1px $color-red-03;
    border-top: solid 1px $color-red-03;
    border-bottom: solid 1px $color-red-03;
    background-color:  darken( rgba($color-black-01, .9), 20);
  }
  
  @media (min-width: 686px) {
    display: none;
  }

}

.btn-menu {
  @include displayFlex(space-between, unset);
  @include transitionMix(16, 0.6s);
  flex-direction: column;
  $size: 27px;
  width: $size;
  height: $size;

  &.open {
    transform: rotate(-45deg);
    .line-menu.start {
      transform: rotate(-90deg) translateX(3px);
    }
    .line-menu.end {
      transform: rotate(-90deg) translateX(-3px);
    }
  }

  .line-menu {
    background: $color-yellow-04;
    border-radius: 6px;
    width: 100%;
    height: 3px;

    &.half {
      width: 50%;
    }

    &.start {
      @include transitionMix(17, 0.6s);
      transform-origin: right;
      align-self: flex-start;
    }

    &.end {
      @include transitionMix(17, 0.6s);
      transform-origin: left;
      align-self: flex-end;
    }

  }

  .openColor {
    background: $color-red-03;
  }

}

.c-nav {

  @include displayFlex(center, center);
  @include transitionMix(11, 0.6s);
  width: 100%;
  padding: 8px 0 8px 0;
  position: fixed;
  left: 0;
  bottom: -104px;
  background: linear-gradient(90deg, rgba($color-blue-02, 0.6) 0%,  rgba($color-green-02, 0.6) 100%);

  @media (min-width: 686px) {
    position: relative;
    bottom: unset;
    width: unset;
    background: unset;
    margin-left: 8px;
    opacity: 0;
    animation: appearByTop .6s cubic-bezier($cb-02) .6s forwards;
  }
  
  &.nav-open {
    bottom: 0;
  }
  
  .c-nav-ul {
    @include displayFlex(space-around, flex-end);
    width: 100%;
    flex-direction: row;
    margin: 0 4px 0 4px;
    @media (min-width: 686px) {
      width: unset;
      margin: 0;
    }
  }
  
  .link {

    @include displayFlex(space-around, center);
    @include font(0.9rem, 400, 1.2, 02);
    @include transitionMix(02, 0.3s);
    flex-direction: column;
    background: $color-black-05;
    width: 23vw;
    height: 88px;
    padding: 8px 8px 4px 8px;
    text-align: center;
    color: $color-yellow-04;
    text-decoration: none;
    border-radius: 8px;
    border-top: solid 3px $color-black-08;
    border-left: solid 3px $color-black-08;
    border-right: solid 3px $color-black-01;
    border-bottom: solid 3px $color-black-01;

    @media (min-width: 686px) {
      width: 80px;
      height: 82px;
      margin-left: 8px;
      font-size: 0.84rem;
      border-width: 1px;
      &:hover {
        color: $color-yellow-02;
        border-top-color: $color-purple-04;
        border-left-color: $color-purple-04;
        border-right-color: $color-purple-02;
        border-bottom-color: $color-purple-02;
        background: $color-black-01;
        box-shadow: 0 0 16px rgba($color-purple-04, 0.4);
      }
    }

    @media (min-width: 808px) {
      width: 104px;
      height: 72px;
    }
  }

  .c-menu-logo {
    $size: 28px;
    width: $size;
    height: $size;
    margin: 0 0 6px 0;
  }

}

