@keyframes appearByRight {
  from {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0);
    opacity: 1;
  }
}

@keyframes appearByRightReversed {
  from {
    transform: translate3d(0);
    opacity: 1;
  }
  to {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
}

@keyframes appearByLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0);
    opacity: 1;
  }
}

@keyframes appearByLeftReversed {
  from {
    transform: translate3d(0);
    opacity: 1;
  }
  to {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }
}

@keyframes appearByTop {
  from {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0);
    opacity: 1;
  }
}

@keyframes appearByTopReversed {
  from {
    transform: translate3d(0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
}

@keyframes appearByBottom {
  from {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0);
    opacity: 1;
  }
}

@keyframes appearByBottomReversed {
  from {
    transform: translate3d(0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appearReversed {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes appearByScale {
  from {
    transform: scale3d(0, 0, 0);
    opacity: 0;
  }
  to {
    transform: scale3d(100%);
    opacity: 1;
  }
}

@keyframes appearByScaleReversed {
  from {
    transform: scale3d(100%);
    opacity: 1;
  }
  to {
    transform: scale3d(0, 0, 0);
    opacity: 0;
  }
}

@keyframes showLogo {
  from {
    opacity: 0;
    transform: translate3d(-72px, -16px, 0) scale(2);
  }
  to {
    opacity: 1;
    transform: translate3d(0) scale(1);
  }
}


// ________________________________
.ani-appear-01 {
  opacity: 0;
  animation: appear .4s cubic-bezier($cb-02) .5s forwards;
}
.ani-appear-02 {
  opacity: 0;
  animation: appear .4s cubic-bezier($cb-02) forwards;
}
.ani-appear-03 {
  opacity: 0;
  animation: appear .4s cubic-bezier($cb-02) .4s forwards;
}

.ani-appearReversed-01 {
  animation: appearReversed .4s cubic-bezier($cb-02) forwards;
}
.ani-appearReversed-02 {
  animation: appearReversed .4s cubic-bezier($cb-02) .8s forwards;
}
.ani-appearReversed-03 {
  animation: appearReversed .4s cubic-bezier($cb-02) .9s forwards;
}
// ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾



// ________________________________
.ani-appearByScale-01 {
  opacity: 0;
  animation: appearByScale .4s cubic-bezier($cb-16) .6s forwards;
}
.ani-appearByScale-02 {
  opacity: 0;
  animation: appearByScale .4s cubic-bezier($cb-10) .9s forwards;
}
.ani-appearByScale-03 {
  opacity: 0;
  animation: appearByScale .4s cubic-bezier($cb-10) forwards;
}
.ani-appearByScale-04 {
  opacity: 0;
  animation: appearByScale .4s cubic-bezier($cb-16) .5s forwards;
}

.ani-appearByScaleReversed-01 {
  animation: appearByScaleReversed .4s cubic-bezier($cb-10) forwards;
}
.ani-appearByScaleReversed-02 {
  animation: appearByScaleReversed .4s cubic-bezier($cb-10) .6s forwards;
}
// ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾



// ________________________________
.ani-appearByLeft-01 {
  opacity: 0;
  animation: appearByLeft .4s cubic-bezier($cb-05) .8s forwards;
}
.ani-appearByLeft-02 {
  opacity: 0;
  animation: appearByLeft .4s cubic-bezier($cb-05) forwards;
}

.ani-appearByLeftReversed-01 {
  animation: appearByLeftReversed .4s cubic-bezier($cb-05) forwards;
}
// ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾



// ________________________________
.ani-appearByTop-01 {
  opacity: 0;
  animation: appearByTop .4s cubic-bezier($cb-07) .2s forwards;
}
.ani-appearByTop-02 {
  opacity: 0;
  animation: appearByTop .4s cubic-bezier($cb-05) .3s forwards;
}
.ani-appearByTop-03 {
  opacity: 0;
  animation: appearByTop .6s cubic-bezier($cb-01) .4s forwards;
}

.ani-appearByTopReversed-01 {
  animation: appearByTopReversed .4s cubic-bezier($cb-06) forwards;
}
.ani-appearByTopReversed-02 {
  animation: appearByTopReversed .4s cubic-bezier($cb-01) forwards;
}
// ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾



// ________________________________
.ani-appearByBottom-01 {
  opacity: 0;
  animation: appearByBottom .4s cubic-bezier($cb-05) .2s forwards;
}

.ani-appearByBottomReversed-01 {
  animation: appearByBottomReversed .4s cubic-bezier($cb-06) forwards;
}
// ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾



// ________________________________
.ani-appearByRight-01 {
  opacity: 0;
  animation: appearByRight .4s cubic-bezier($cb-16) .6s forwards;
}
.ani-appearByRight-02 {
  opacity: 0;
  animation: appearByRight .8s cubic-bezier($cb-16) .8s forwards;
}
.ani-appearByRight-03 {
  opacity: 0;
  animation: appearByRight .8s cubic-bezier($cb-10) forwards;
}

.ani-appearByRightReversed-01 {
  animation: appearByRightReversed .8s cubic-bezier($cb-16) forwards;
}
.ani-appearByRightReversed-02 {
  animation: appearByRightReversed .8s cubic-bezier($cb-16) .4s forwards;
}
// ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾


.anima-wp-txt-false {
  @include transitionMix(02, .6s, max-height);
  max-height: 0;
  overflow-y: hidden;
}
.anima-wp-txt {
  @include transitionMix(01, .4s, max-height);
  max-height: 1000px;
  overflow-y: hidden;
}