
// Fonts
// ________________________________
$font-01: 'MuseoModerno', cursive;
$font-02: 'Montserrat', sans-serif;
// ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾

// Black
// ________________________________
$color-black-01:        #101010;
$color-black-02:        #161616;
$color-black-03:        #202020;
$color-black-04:        #242424;
$color-black-05:        #2a2a2a;
$color-black-06:        #323232;
$color-black-07:        #4d4d4d;
$color-black-08:        #646464;
$color-black-09:        #a5a5a5;
$color-black-10:        #b5b5b5;
$color-black-11:        #e5e5e5;
$color-black-12:        #f1f1f1;
$color-black-13:        #f5f5f5;
// ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾

// Blue
// ________________________________
$color-blue-01:         #21507e;
$color-blue-02:         #3c90e5;
$color-blue-03:         #5fa5ea;
$color-blue-04:         #82b9ef;
// ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾

// Green
// ________________________________
$color-green-01:        #57742f;
$color-green-02:        #9ed256;
$color-green-03:        #b0db74;
$color-green-04:        #c9e4a3;
// ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾

// Yellow
// ________________________________
$color-yellow-01:       #b28802;
$color-yellow-02:       #ffc91d;
$color-yellow-03:       #ffdb6a;
$color-yellow-04:       #fff4d2;
// ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾

// Red
// ________________________________
$color-red-01:          #983219;
$color-red-02:          #ec5632;
$color-red-03:          #ffa58f;
$color-red-04:          #ffede9;
// ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾

// Purple
// ________________________________
$color-purple-01:       #49117f;
$color-purple-02:       #8322e2;
$color-purple-03:       #913ce5;
$color-purple-04:       #d3b1f5;
// ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾

// Other Green
// ________________________________
$color-other-green-01:  #40bf1f;
$color-other-green-02:  #55ff29;
$color-other-green-03:  #bbffa9;
$color-other-green-04:  #ddffd4;
// ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾

// Cubic-beziers
// ________________________________
$cb-01: 0.55, 0.055, 0.675, 0.19;
$cb-02: 0.215, 0.61, 0.355, 1;
$cb-03: 0.645, 0.045, 0.355, 1;
$cb-04: 0.895, 0.03, 0.685, 0.22;
$cb-05: 0.165, 0.84, 0.44, 1;
$cb-06: 0.77, 0, 0.175, 1;
$cb-07: 0.755, 0.05, 0.855, 0.06;
$cb-08: 0.86, 0, 0.07, 1;
$cb-09: 0.95, 0.05, 0.795, 0.035;
$cb-10: 1, 0, 0, 1;
$cb-11: 0.6, 0.04, 0.98, 0.335;
$cb-12: 0.075, 0.82, 0.165, 1;
$cb-13: 0.785, 0.135, 0.15, 0.86;
$cb-14: 0.6, -0.28, 0.735, 0.045;
$cb-15: 0.175, 0.885, 0.32, 1.275;
$cb-16: 0.68, -0.55, 0.265, 1.55;
$cb-17: 0.54, -0.81, 0.57, 0.57;
// ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
